main, header {
  max-width: 600px;
  margin: auto;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4rem;
}

main form input {
  display: block;
  margin: 2rem;
  width: 300px;
}

header {
  text-align: center;
}
